.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    font-size:large;
    background-color:blanchedalmond;
    color:darkblue;
    padding:1em;
    border-style:solid;
    border-width:1em;
    border-color:darkblue
}

#description {
    text-align:center;
    padding-left:20em;
    padding-right:20em;
}

.displayItems{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    font-size:medium;
    padding:10px;

}

.itemList{
    border-collapse:collapse;
    margin: 10px;
    border: solid 2px darkblue;
}

.itemList tr, td{
    padding:20px;
    background-color:antiquewhite;
}

.orderComplete{
    text-align:center;
}

.orderComplete button{
    margin: 0 30px;
}

.totalCost{
    border: solid 5px darkblue;
    background-color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    color:darkblue;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    height: 40px;
    text-align: center;
    padding:10px;

}

.purchaseForm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto; 
    width: 80%;
    padding: 20px;
    border: solid 2px darkblue;
    background-color: antiquewhite;
}

.purchaseForm fieldset {
    border: solid 2px darkblue;
    padding: 20px;
    margin-bottom: 20px;
}

.purchaseForm legend {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: darkblue;
    background-color: blanchedalmond;
    padding: 5px 10px;
    border: solid 1px darkblue;
}

.purchaseForm label {
    float:left;
    width: 250px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 8px;
}

.purchaseForm input{
    width: 250px;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid darkblue;
    border-radius: 3px;
    box-sizing: border-box;
}


.purchaseForm textarea {
    width: 250px;
    height: 80px;
    margin: 5px 0 15px 0;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid darkblue;
    border-radius: 3px;
}

.purchaseForm select{
    width: 250px;
    margin: 5px 0 15px 0;
    padding: 5px;
    border: 1px solid darkblue;
    background-color: white;
}

.orderComplete button,
.purchaseForm input[type="submit"],
.purchaseForm button {
    background-color: darkblue;
    color: blanchedalmond;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 10px;
}
